version: '3.8'

services:
  client-dev:
    profiles: ["dev"]
    build:
      context: ./client
      target: dev
    volumes: 
      - ./client:/app
      - /app/node_modules
    ports:
      - "8080:8080"
    restart: "always"
    environment:
      - TZ=Asia/Tokyo
  client-prod:
    profiles: ["prod"]
    build:
      context: ./client
      target: prod
    ports:
      - "80:80"
    restart: "always"
    environment:
      - TZ=Asia/Tokyo

  server-dev:
    profiles: ["dev"]
    build:
      context: ./server
      target: dev
    volumes:
      - ./server:/app
    ports:
      - "8000:8000"
    restart: "always"
    environment:
      - PYTHONPATH=/app
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=box_score_arc
      - DB_USER=box_score_arc_user
      - DB_PASSWORD=box_score_arc_password
    depends_on:
      - postgres
  server-prod:
    profiles: ["prod"]
    build:
      context: ./server
      target: prod
    ports:
      - "8000:8000"
    restart: "always"
    environment:
      - PYTHONPATH=/app
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=box_score_arc
      - DB_USER=box_score_arc_user
      - DB_PASSWORD=box_score_arc_password
    depends_on:
      - postgres
  
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    restart: "always"
    environment:
      - POSTGRES_DB=box_score_arc
      - POSTGRES_USER=box_score_arc_user
      - POSTGRES_PASSWORD=box_score_arc_password
    volumes:
      - postgresql_data:/var/lib/postgresql/data

volumes:
  postgresql_data:
