body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  margin: 0;
  user-select: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
