:root {
  --footer-height: 38px;
  --main-backgroud-color: #081C45;
  --dark-backgroud-color: #07183c;
  --footer-backgroud-color: #0a2c64;
  --border: 1px solid #cfcfcf;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}
